{# ### TEN SZABLON DZIEDZICZY Z base.html ### #}
{% extends "base.html" %}

{# ### DEFINIUJESZ TYLKO BLOK, KTÓRY CHCESZ ZMIENIĆ ### #}

{# Nadpisz blok 'title' #}
{% block title %}qrades.com - main{% endblock %}

{# Nadpisz blok 'content' główną treścią strony głównej #}
{% block content %}

      <section class="mb-4">
        <div class="card">
          <div class="card-body">

            <div class="row">
              <div class="col-4">
                <div class="list-group list-group-light" id="list-tab" role="tablist">
                  <a class="list-group-item list-group-item-action active px-3 border-0" id="list-home-list"
                    data-mdb-list-init href="#list-home" role="tab" aria-controls="list-home">QR grades</a>
                  <a class="list-group-item list-group-item-action px-3 border-0" id="list-profile-list"
                    data-mdb-list-init href="#list-profile" role="tab" aria-controls="list-profile">For routesetter</a>
                  <a class="list-group-item list-group-item-action px-3 border-0" id="list-messages-list"
                    data-mdb-list-init href="#list-messages" role="tab" aria-controls="list-messages">For climber</a>
                  <a class="list-group-item list-group-item-action px-3 border-0" id="list-user-list"
                    data-mdb-list-init href="#list-user" role="tab" aria-controls="list-user">For gym owner</a>
                </div>
              </div>
              <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                    aria-labelledby="list-home-list">
                    <h5 class="fw-bold">Climbing wall with QR codes</h5>
                    It's a simple way to gather info about routes on climbing walls with easily printed QR codes.<br><br>
                    <ul class="list-unstyled">
                      <li class="mb-1"><i class="fas fa-check-circle me-2 text-success"></i>QR code is prepared for cheap label printers like <a href="https://niimbot.pl/produkt/niimbot-b1-1-szt-rolka/">Niimbot B1</a> for ca. 50$.</li>
                      <li class="mb-1"><i class="fas fa-check-circle me-2 text-success"></i>It's <b>FREE</b> to use, hobby project for enhance climbing experience.</li>
                      <li class="mb-1"><i class="fas fa-check-circle me-2 text-success"></i>It could be applied to climbing gym, climbing leagues through <b>TAG</b> system.</li>
                      <li class="mb-1"><i class="fas fa-check-circle me-2 text-success"></i>For support and feedback please join this <a href="https://chat.whatsapp.com/KIgIbXQUOuI6w9xcHZyA0M">whatsapp group</a></li>
                    </ul>
                  </div>
                  <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    <h5 class="fw-bold">Easy QR code generation</h5>
                    QR generation is simplified to minimum. Most cheap label printers could print QR from Excel list.<br><br>
                    <ul class="list-unstyled">
                      <li class="mb-1"><i class="fas fa-check-circle me-2 text-success"></i>Click on this link: <a href="{{ url_for('generate_xlsx') }}">new list (xlsx)</a></li>
                      <li class="mb-1"><i class="fas fa-check-circle me-2 text-success"></i>Download generated list in Excel</li>
                      <li class="mb-1"><i class="fas fa-check-circle me-2 text-success"></i>Print all the labels and stick it to route</li>
                      <li class="mb-1"><i class="fas fa-check-circle me-2 text-success"></i>Every QR code redirect you to individual route assessment site</li>
                      <li class="mb-1"><i class="fas fa-check-circle me-2 text-success"></i>During first input you state name, tag and primary grade.</li>
                    </ul>
                    <div class="video-container" style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%;">
                      <iframe
                          src="https://www.youtube.com/embed/e2rBgNo9voM"
                          frameborder="0"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen
                          style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                      ></iframe>
                   </div>
                  </div>
                  <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                    <h5 class="fw-bold">Easy route review</h5>
                    Review process is minimalistic for quick assessments.<br><br>
                    <ul class="list-unstyled">
                      <li class="mb-1"><i class="fas fa-check-circle me-2 text-success"></i>Scan QR code with your mobile</li>
                      <li class="mb-1"><i class="fas fa-check-circle me-2 text-success"></i>Fill in data: your nickname, your route grade and route assessment</li>
                      <li class="mb-1"><i class="fas fa-check-circle me-2 text-success"></i>Your username will be saved as cookie for further inputs</li>
                      <li class="mb-1"><i class="fas fa-check-circle me-2 text-success"></i>All data are stored on your personal site /user/user_id</li>
                    </ul>
                    <div class="video-container" style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%;">
                      <iframe
                          src="https://www.youtube.com/embed/zHAQ3SYdQU0"
                          frameborder="0"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen
                          style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                      ></iframe>
                   </div>
                  </div>
                  <div class="tab-pane fade" id="list-user" role="tabpanel" aria-labelledby="list-user-list">
                    <h5 class="fw-bold">Explore user data in many ways</h5>
                    There are insights you can get from gathered data, which can further optimisation of costs, e.g.:<br><br>
                    <ul class="list-unstyled">
                      <li class="mb-1"><i class="fas fa-check-circle me-2 text-success"></i>What route grades are most popular?</li>
                      <li class="mb-1"><i class="fas fa-check-circle me-2 text-success"></i>When to set new routes on your gym?</li>
                      <li class="mb-1"><i class="fas fa-check-circle me-2 text-success"></i>What kind of routes are most liked?<li>
                      <li class="mb-1"><i class="fas fa-check-circle me-2 text-success"></i>Who sets the most liked routes?<li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>

    {% endblock %}

{# Nie definiujemy innych bloków (head_extra, scripts_extra), jeśli nie są potrzebne #}