{# ### TEN SZABLON DZIEDZICZY Z base.html ### #}
{% extends "base.html" %}

{# ### DEFINIUJESZ TYLKO BLOK, KTÓRY CHCESZ ZMIENIĆ ### #}

{# Nadpisz blok 'title' #}
{% block title %}QR grades - Strona Główna{% endblock %}

{# Nadpisz blok 'content' główną treścią strony głównej #}
{% block content %}

      <!--Section: Sales Performance KPIs-->
      <section class="mb-4">
        <div class="card">
          <div class="card-header text-center py-3">
            <h5 class="mb-0 text-center">
              <strong>QR grade = qrades</strong>
            </h5>
          </div>
          <div class="card-body">
            <h5 class="mb-0 text-center">
              <strong>opis</strong>
            </h5>
          </div>
        </div>
      </section>
      <!--Section: Sales Performance KPIs-->

    {% endblock %}

{# Nie definiujemy innych bloków (head_extra, scripts_extra), jeśli nie są potrzebne #}
