{# ### TEN SZABLON DZIEDZICZY Z base.html ### #}
{% extends "base.html" %}

{# ### DEFINIUJESZ TYLKO BLOK, KTÓRY CHCESZ ZMIENIĆ ### #}

{# Nadpisz blok 'title' #}
{% block title %}QR grades - Strona Główna{% endblock %}

{# Nadpisz blok 'content' główną treścią strony głównej #}
{% block content %}

      <!--Section: Sales Performance KPIs-->
      <section class="mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">QR grades</h5>
            <p class="card-text">It's a simple way to print qr code in your climbing gym to gather data about route grade assessment and user experience reviews.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">New QR code generation and printing</h5>
            <p class="card-text">
                <ul class="list-unstyled">
                  <li class="mb-1"><i class="fas fa-long-arrow-alt-right me-2 text-info"></i>Click on link above "New route (QR)</li>
                  <li class="mb-1"><i class="fas fa-long-arrow-alt-right me-2 text-info"></i>Fill in data: name of route, your nickname and preliminary route grade</li>
                  <li class="mb-1"><i class="fas fa-long-arrow-alt-right me-2 text-info"></i>Now you have two options:
                         <ol>
                            <li class="mb-1">copy image and print it on your label printer</li>
                            <li class="mb-1">copy route url and generate qr in label printer app</li>
                        </ol>
                  </li>
                  <li class="mb-1"><i class="fas fa-long-arrow-alt-right me-2 text-info"></i>Once it's printed qr is going to forward you to route site.</li>
                </ul>
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">How to add new route assessment</h5>
            <p class="card-text">
                <ul class="list-unstyled">
                  <li class="mb-1"><i class="fas fa-long-arrow-alt-right me-2 text-info"></i>Scan QR code with your mobile</li>
                  <li class="mb-1"><i class="fas fa-long-arrow-alt-right me-2 text-info"></i>Fill in data: your nickname, your route grade and route assessment</li>
                  <li class="mb-1"><i class="fas fa-long-arrow-alt-right me-2 text-info"></i>Your nick will be saved as cookie for further inputs</li>
                </ul>
            </p>
          </div>
        </div>
      </section>
      <!--Section: Sales Performance KPIs-->

    {% endblock %}

{# Nie definiujemy innych bloków (head_extra, scripts_extra), jeśli nie są potrzebne #}